/tmp/
/pkg/
/coverage/
/traces/
*.rvtrace
!spec/fixtures/*.rvtrace
!web/src/__fixtures__/*.rvtrace
*.gem
*.o
*.so
*.bundle
Makefile
mkmf.log
extconf.h
/ext/**/*.log
/lib/runtime_visualizer_native.so
/Gemfile.lock
/web/node_modules/
/web/dist/
.rspec_status
